// app global css in SCSS form
input {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid $primary;
}

.kpay-color {
  color: #2151a4;
}

.wavepay-color {
  color: #f9e64b;
}

.z-neg-1 {
  z-index: -1;
}

// *::-webkit-scrollbar {
//   display: none;
//   scrollbar-color: transparent;
// }

// * {
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
//   scrollbar-color: transparent;
// }
